<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue test</title>
	<link rel="stylesheet" href="{{global.staticRoot}}/js/vue.css?v={{global.version}}">
</head>
<body>
	<app></app>
	<script src="{{global.staticRoot}}/js/common.js?v={{global.version}}"></script>
	<script src="{{global.staticRoot}}/js/vue.js?v={{global.version}}"></script>
</body>
</html>