<!DOCTYPE html>
<!--[if lt IE 8]> <html class="ie lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">
  <meta name="staticRoot" content="{{global.staticRoot}}">
  {{#if mobile}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  {{/if}}
  <title>{{title}}</title>
	{{#if style}}
	<link rel="stylesheet" href="{{global.staticRoot}}{{style}}?v={{global.version}}">
	{{/if}}
</head>
<body>
